header  {
    display: flex;
    padding-inline: 20px;
    padding-block: 10px;    
    background-color: #4CAF50;
    color: white;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    display: flex;     
    justify-content: space-between;
    align-items: center;

    span{

        cursor: pointer;
        list-style: none;
       &:hover {
                background-color: #a9b4a9;
            }

    }

    ul {
        list-style: none;
        li
        {
            cursor: pointer;
            &:hover {
                background-color: #a9b4a9;
            }

        }
    }
}